# Support for IA07: 

This notebook splits IA07 data into training and validation data sets.

## Load and explore our sample data set

In [1]:
import pandas as pd
adata = pd.read_csv('loan_data.csv')
adata.head()

,int.rate,log.annual.inc,dtai,fico,days.with.cr.line,inq.last.6mths,delinq.2yrs,default
0,0.1189,11.350407,19.48,737,5639.958333,0,0,0
1,0.1071,11.082143,14.29,707,2760.000000,0,0,0
2,0.1357,10.373491,11.63,682,4710.000000,1,0,0
3,0.1008,11.350407,8.10,712,2699.958333,1,0,0
4,0.1426,11.299732,14.97,667,4066.000000,0,1,0

## Now, let's create a decision tree from our sample

In [2]:
import sklearn
sklearn.__version__

'0.18.1'

In [3]:
import numpy as np
from sklearn.model_selection import train_test_split
train, test = train_test_split(adata, test_size = 0.5)

In [4]:
train.shape

(4789, 8)

In [5]:
test.shape

(4789, 8)

In [6]:
train.to_csv("loan_data_train.csv")

In [7]:
test.to_csv("loan_data_test.csv")